{% extends 'base.html' %}
{% block head_title %}Delivery list{% endblock head_title %}
{% block content %}
<div class="container-fluid p-0">

    <div class="row">
        <div class="col-12 col-xl-12 m-auto">
            <div class="card">
                <div class="card-header">
                    <div class="card-content float-left">
                        <h5 class="card-title">Percel List......</h5>
                    <h6 class="card-subtitle text-muted">Add <code>.table-hover</code> to enable a hover state on table
                        rows within a <code>&lt;tbody&gt;</code>.</h6>
                    </div>
                    <a href="{% url 'percelpicupanddelivery:percel_delivery_view' %}" class="btn btn-primary float-right">Add Percel</a>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>username</th>
                            <th>Delivery Rider</th>
                            <th>Picup Percel</th>
                            <th>Complete</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for object in object_list %}
                            <tr>
                                <td>{{ forloop.count }}</td>
                                <td>{{ object.user }}</td>
                                <td>{{ object.delivery_rider }}</td>
                                <td>{{ object.picup_percel }}</td>
                                <td>{{ object.completed }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="#"><i class="align-middle" data-feather="edit-2"></i></a>
												<a href="#"><i class="align-middle" data-feather="trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8" class="text-center">
                                <h4>Not Active your Percels......</h4>
                            </td>
                        </tr>
                        {% endfor %}
                            
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock content %}